<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="icon" href="favicon/Favicon_32x32.png">
    <link rel="apple-touch-icon" href="favicon/Favicon_32x32.png">
    <title>Neural Activity Visualizer - AngularJS Component</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/docco.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly.min.js"></script>
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/angularjs/src/visualizer.js"></script>-->
    <script type='text/javascript' src='/Users/AO/code/neo-viewer/js/angularjs/src/visualizer.js'></script>
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/angularjs/src/services.js"></script>-->
    <script type='text/javascript' src='/Users/AO/code/neo-viewer/js/angularjs/src/services.js'></script>

    <link rel="stylesheet" type="text/css" href="./css/angular_style.css">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div class="container" ng-app="neo-visualizer"><br>
            <div class="box rounded centered" style="margin-top: 5px; padding-top: 0.75em; padding-bottom: 0.75em;"><a
                    href="https://ebrains.eu/" target="_blank" rel="noopener noreferrer"
                    class="waves-effect waves-light" style="text-align: center; color: black;">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-top: 0px; padding-bottom: 0px;"><img class="ebrains-icon-small"
                                        src="./imgs/ebrains_logo.svg" alt="EBRAINS logo" style="height: 60px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </a>
                <h5 class="title-style">Neural Activity Visualizer</h5>
            </div>

            <h5 style="text-align: center; line-height: 2; font-weight: bolder;">AngularJS Component test</h5>

            <div class="text" style="margin: 15px 35px 15px 35px;">
                The neural-activity-visualizer Javascript app, enables web-browser
                visualisation of electrophysiology datafiles in any format supported by the Neo library. It makes use of
                the <a href="/api-docs" target="_blank"
                    rel="noopener noreferrer">Neo Viewer
                    REST API</a>.
                <br>
                The <i>visualizer-view</i> component requires the <b>source</b> (url of file) attribute. There are also
                optional <b>height</b> (height of visualization panel), <b>downsamplefactor</b> (factor by which data
                should be downsampled to improve loading time with default value 1 for no downsampling)),
                <b>iotype</b> (manually specify the file type) attributes.
            </div>

            <hr style="color: #CCCCCC">

            <h5 style="line-height: 49.2px">Example Usage</h5>
            <pre><code class="language-html">&lt;head&gt;
    ...

    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css&quot;&gt;

    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/angularjs/src/visualizer.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/angularjs/src/services.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class=&quot;container&quot;&gt;
        ...

        &lt;div class=&quot;row&quot; ng-app=&quot;neo-visualizer&quot;&gt;
            &lt;visualizer-view
                source=&quot;https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/Migliore_2018_CA1/exp_data/abf-int-bAC/Ivy_960711AHP3/96711008.abf&quot;
                height=300&gt;
            &lt;/visualizer-view&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;</code></pre>
            <div class="row angular-container">
                <visualizer-view
                    source="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/Migliore_2018_CA1/exp_data/abf-int-bAC/Ivy_960711AHP3/96711008.abf"
                    height=300>
                </visualizer-view>
            </div>

            <hr style="color: #CCCCCC">

            <h5 style="line-height: 49.2px">Example With Dynamic Source</h5>
            <pre><code class="language-html">&lt;div ng-controller="URLFormController"&gt;
    &lt;form class="form-inline"&gt;
        &lt;div class="form-group"&gt;
            &lt;label for="dataFileURL"&gt;URL of data file:&lt;/label&gt;
            &lt;input type="text" class="form-control" ng-model="dataFileURL" id="dataFileURL" placeholder="enter data file URL here" style="width: 600px;"&gt;
        &lt;/div&gt;
    &lt;/form&gt;

    &lt;visualizer-view ng-if="dataFileURL"
        source="{{dataFileURL}}"
        height=300&gt;
    &lt;/visualizer-view&gt;
&lt;/div&gt;</code></pre>
            <div ng-controller="URLFormController">
                <form class="form-inline angular-container">
                    <div class="form-group">
                        <label for="dataFileURL">URL of data file:</label>
                        <input type="text" class="form-control" ng-model="dataFileURL" id="dataFileURL"
                            placeholder="enter data file URL here">
                    </div>
                </form>

                <div class="row angular-container">
                    <visualizer-view ng-if="dataFileURL" 
                    source="{{dataFileURL}}"
                    height=300>
                    </visualizer-view>
                </div>
            </div>

            <hr style="color: #CCCCCC">

            <h5 style="line-height: 49.2px">Example With Spike Trains</h5>
            <div class="row angular-container">
                <visualizer-view
                    source="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/test/spiketrainsx2a.nix"
                    height=300>
                </visualizer-view>
            </div>

            <h5 style="line-height: 49.2px">Various file samples working with Neo Viewer</h5>

            <b>NWB</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/nwb/H19.29.141.11.21.01.nwb">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/nwb/H19.29.141.11.21.01.nwb</a></p>

            <b>Axon</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/axon/File_axon_1.abf">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/axon/File_axon_1.abf</a></p>

            <p><a href="https://object.cscs.ch/v1/AUTH_63ea6845b1d34ad7a43c8158d9572867/Angelo_SGA1_1.2.4/hbp-00810/CC-step/sub1/samp1/hbp-00810_CC-step_sub1_samp1__A4608003.abf">https://object.cscs.ch/v1/AUTH_63ea6845b1d34ad7a43c8158d9572867/Angelo_SGA1_1.2.4/hbp-00810/CC-step/sub1/samp1/hbp-00810_CC-step_sub1_samp1__A4608003.abf</a></p>

            <p><a href="https://object.cscs.ch/v1/AUTH_63ea6845b1d34ad7a43c8158d9572867/Angelo_SGA1_1.2.4/hbp-00810/CC-step/sub10k/samp1/hbp-00810_CC-step_sub10k_samp1__20G14024.abf">https://object.cscs.ch/v1/AUTH_63ea6845b1d34ad7a43c8158d9572867/Angelo_SGA1_1.2.4/hbp-00810/CC-step/sub10k/samp1/hbp-00810_CC-step_sub10k_samp1__20G14024.abf</a></p>

            <p><a href="https://object.cscs.ch/v1/AUTH_63ea6845b1d34ad7a43c8158d9572867/Angelo_SGA1_1.2.4/hbp-00810/CC-step/sub11k/samp1/hbp-00810_CC-step_sub11k_samp1__17L14002.abf">https://object.cscs.ch/v1/AUTH_63ea6845b1d34ad7a43c8158d9572867/Angelo_SGA1_1.2.4/hbp-00810/CC-step/sub11k/samp1/hbp-00810_CC-step_sub11k_samp1__17L14002.abf</a></p>

            <b>Brainwaresrc</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/brainwaresrc/block_300ms_4rep_1clust_part_ch1.src">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/brainwaresrc/block_300ms_4rep_1clust_part_ch1.src</a></p>

            <b>Intan</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/intan/intan_rhd_test_1.rhd">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/intan/intan_rhd_test_1.rhd</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/intan/intan_rhs_test_1.rhs">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/intan/intan_rhs_test_1.rhs</a></p>

            <b>Micromed</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/micromed/File_micromed_1.TRC">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/micromed/File_micromed_1.TRC</a></p>

            <b>Neuralynx</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/neuralynx/BML/plain_data/CSC1_trunc.txt">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/neuralynx/BML/plain_data/CSC1_trunc.txt</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/neuralynx/Cheetah_v1.1.0/plain_data/CSC67_trunc.txt">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/neuralynx/Cheetah_v1.1.0/plain_data/CSC67_trunc.txt</a></p>

            <b>Neuroexplorer</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/neuroexplorer/File_neuroexplorer_1.nex">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/neuroexplorer/File_neuroexplorer_1.nex</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/neuroexplorer/File_neuroexplorer_2.nex">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/neuroexplorer/File_neuroexplorer_2.nex</a></p>

            <b>Plexon</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/plexon/File_plexon_3.plx">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/plexon/File_plexon_3.plx</a></p>

            <b>Rawbinarysignal</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/rawbinarysignal/File_rawbinary_10kHz_2channels_16bit.raw">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/rawbinarysignal/File_rawbinary_10kHz_2channels_16bit.raw</a></p>

            <b>Spike2</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/130322-1LY.smr">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/130322-1LY.smr</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/File_spike2_1.smr">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/File_spike2_1.smr</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/File_spike2_3.smr">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/File_spike2_3.smr</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/Two-mice-bigfile-test000.smr">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/Two-mice-bigfile-test000.smr</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/multi_sampling.smr">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/spike2/multi_sampling.smr</a></p>

            <b>Tridesclous</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/segment_0/processed_signals.raw">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/segment_0/processed_signals.raw</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/segment_0/spikes.raw">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/segment_0/spikes.raw</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/catalogue_constructor/all_peaks.raw">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/catalogue_constructor/all_peaks.raw</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/catalogue_constructor/centroids_mad.raw">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/catalogue_constructor/centroids_mad.raw</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/catalogues/initial/clusters.raw">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/tridesclous/tdc_example0/channel_group_0/catalogues/initial/clusters.raw</a></p>

            <b>Winedr</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/winedr/File_WinEDR_1.EDR">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/winedr/File_WinEDR_1.EDR</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/winedr/File_WinEDR_2.EDR">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/winedr/File_WinEDR_2.EDR</a></p>

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/winedr/File_WinEDR_3.EDR">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/winedr/File_WinEDR_3.EDR</a></p>
            <b>Winwcp</b>:

            <p><a href="https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/winwcp/File_winwcp_1.wcp">https://gin.g-node.org/NeuralEnsemble/ephy_testing_data/raw/master/winwcp/File_winwcp_1.wcp</a></p>

            <br>
            <div class="rainbow-row">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="text" style="margin: 25px 10px 10px 10px;">This project has received funding from the European
                Union’s
                Horizon 2020 Framework Programme for Research and Innovation under the Specific Grant Agreements No.
                785907 and
                No. 945539 (Human Brain Project SGA2 and SGA3).</p>
            <p class="text" style="margin: 10px 10px 40px 10px;">If you encounter any problems, <a
                    href="https://github.com/NeuralEnsemble/neo-viewer/issues/new" target="_blank"
                    rel="noopener noreferrer">please let us know.</a></p>
        </div>
    </div>
</body>

</html>
