<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="icon" href="favicon/Favicon_32x32.png">
    <link rel="apple-touch-icon" href="favicon/Favicon_32x32.png">
    <title>Neural Activity Visualizer - AngularJS Component</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/docco.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/angularjs/src/visualizer.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/angularjs/src/services.js"></script>

    <link rel="stylesheet" type="text/css" href="./css/angular_style.css">
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
        <div class="container" ng-app="neo-visualizer"><br>
            <div class="box rounded centered" style="margin-top: 5px; padding-top: 0.75em; padding-bottom: 0.75em;"><a
                    href="https://ebrains.eu/" target="_blank" rel="noopener noreferrer"
                    class="waves-effect waves-light" style="text-align: center; color: black;">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding-top: 0px; padding-bottom: 0px;"><img class="ebrains-icon-small"
                                        src="./imgs/ebrains_logo.svg" alt="EBRAINS logo" style="height: 60px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </a>
                <h5 class="title-style">Neural Activity Visualizer</h5>
            </div>

            <h5 style="text-align: center; line-height: 2; font-weight: bolder;">AngularJS Component</h5>

            <div class="text" style="margin: 15px 35px 15px 35px;">
                The neural-activity-visualizer Javascript app, enables web-browser
                visualisation of electrophysiology datafiles in any format supported by the Neo library. It makes use of
                the <a href="https://neo-viewer.brainsimulation.eu/api_docs" target="_blank"
                    rel="noopener noreferrer">Neo Viewer
                    REST API</a>.
            </div>

            <hr style="color: #CCCCCC">

            <h5 style="line-height: 49.2px">Example Usage</h5>
            <pre><code class="language-html">&lt;head&gt;
    ...

    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css&quot;&gt;

    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-resource.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.51.1/plotly.min.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/angularjs/src/visualizer.js&quot;&gt;&lt;/script&gt;
    &lt;script type=&quot;text/javascript&quot; src=&quot;https://cdn.jsdelivr.net/gh/NeuralEnsemble/neo-viewer@master/js/angularjs/src/services.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class=&quot;container&quot;&gt;
        ...

        &lt;div class=&quot;row&quot; ng-app=&quot;neo-visualizer&quot;&gt;
            &lt;visualizer-view
                source=&quot;https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/Migliore_2018_CA1/exp_data/abf-int-bAC/Ivy_960711AHP3/96711008.abf&quot;
                height=300&gt;
            &lt;/visualizer-view&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;</code></pre>
            <div class="row angular-container">
                <visualizer-view
                    source="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/Migliore_2018_CA1/exp_data/abf-int-bAC/Ivy_960711AHP3/96711008.abf"
                    height=300>
                </visualizer-view>
            </div>

            <hr style="color: #CCCCCC">

            <h5 style="line-height: 49.2px">Example With Dynamic Source</h5>
            <pre><code class="language-html">&lt;div ng-controller="URLFormController"&gt;
    &lt;form class="form-inline"&gt;
        &lt;div class="form-group"&gt;
            &lt;label for="dataFileURL"&gt;URL of data file:&lt;/label&gt;
            &lt;input type="text" class="form-control" ng-model="dataFileURL" id="dataFileURL" placeholder="enter data file URL here" style="width: 600px;"&gt;
        &lt;/div&gt;
    &lt;/form&gt;

    &lt;visualizer-view ng-if="dataFileURL"
        source="{{dataFileURL}}"
        height=300&gt;
    &lt;/visualizer-view&gt;
&lt;/div&gt;</code></pre>
            <div ng-controller="URLFormController">
                <form class="form-inline angular-container">
                    <div class="form-group">
                        <label for="dataFileURL">URL of data file:</label>
                        <input type="text" class="form-control" ng-model="dataFileURL" id="dataFileURL"
                            placeholder="enter data file URL here">
                    </div>
                </form>

                <div class="row angular-container">
                    <visualizer-view ng-if="dataFileURL" 
                    source="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/Migliore_2018_CA1/exp_data/abf-int-bAC/Ivy_960711AHP3/96711008.abf"
                    height=300>
                    </visualizer-view>
                </div>
            </div>

            <hr style="color: #CCCCCC">

            <h5 style="line-height: 49.2px">Example With Spike Trains</h5>
            <div class="row angular-container">
                <visualizer-view
                    source="https://object.cscs.ch/v1/AUTH_c0a333ecf7c045809321ce9d9ecdfdea/test/spiketrainsx2a.nix"
                    height=300>
                </visualizer-view>
            </div>
            <br>
            <div class="rainbow-row">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p class="text" style="margin: 25px 10px 10px 10px;">This project has received funding from the European
                Union’s
                Horizon 2020 Framework Programme for Research and Innovation under the Specific Grant Agreements No.
                785907 and
                No. 945539 (Human Brain Project SGA2 and SGA3).</p>
            <p class="text" style="margin: 10px 10px 40px 10px;">If you encounter any problems, <a
                    href="https://github.com/NeuralEnsemble/neo-viewer/issues/new" target="_blank"
                    rel="noopener noreferrer">please let us know.</a></p>
        </div>
    </div>
</body>

</html>