dateparser==1.1.8
fastapi==0.101.1
httpx==0.24.1
pydantic==2.3.0
starlette==0.27.0
uvicorn==0.23.2
numpy==1.25.2
quantities==0.14.1
#neo==0.13.0
git+https://github.com/NeuralEnsemble/python-neo@master#egg=neo
h5py==3.9.0
nixio==1.5.3
igor2==0.5.3
scipy==1.11.2
klusta==3.0.16
tqdm==4.66.1
pynwb==2.5.0
pyEDFlib==0.1.34
#sonpy==1.9.5 # only works with Python 3.9
dhn_med_py==1.1.1
zugbruecke==0.2.1
